<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/static/logo.png">

    <title>DB KMŽ Brno I</title>
</head>

<body class="h-100">
<div id="page-container" class="container-fluid pr-0 pl-0 h-100 d-flex flex-column">

    <nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Úvod</a>
            <div class="nav navbar-default navbar-right">
                <a href="/auth/login"><button type="button" class="btn btn-secondary">Přihlásit</button></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <br />
            <h1>KMŽ Brno I</h1>
        </div>

        <p class="lead">
          Databáze
        </p>

        <div class="row"><div class="col-lg-8 col-md-7 col-sm-6">
            <br />
            <p>
                Databáze je přístupná pouze členům <a href="https://www.kmz-brno.cz/">Klubu modelářů železnic</a>.
            </p>
        </div></div>
    </div>

    <footer class="footer navbar d-flex justify-content-center mt-auto">
        <div class="container text-muted">
            <p>
                members-db [
                <a href="https://github.com/kmzbrnoI/members-db">github</a> ]
                &emsp;
                powered by [
                <a href="https://getbootstrap.com/">bootstrap</a> |
                <a href="https://bootswatch.com/flatly/">flatly</a> ]
            </p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="/static/bootstrap/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/popper.min.js" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>

</div>
</body>

</html>
